
@import "../../theme";

// External Link
.wp-block-eetezadi-click2share-sharelink {
	color: $link-color !important;
	text-decoration: none !important;
	margin-left: auto;

	&:hover {
		text-decoration: underline !important;
	}
}
